numpy>=1.23

scipy>=1.10

scikit-learn>=1.2

torch>=2.1

torchaudio>=2.1

librosa>=0.10.1

soundfile>=0.12

audioread>=3.0.1

numba>=0.57

tqdm>=4.66

matplotlib>=3.7

seaborn>=0.12

typing_extensions>=4.8